[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=JWM
Comment=Joe's Window Manager
Exec=remsu /usr/bin/sparky-desktop-del jwm
Icon=/usr/share/icons/sparky/desktops/jwm.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
