[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Trinity
Comment=Trinity Desktop Environment 
Exec=remsu /usr/bin/sparky-desktop-del trinity
Icon=/usr/share/icons/sparky/desktops/tde.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
