[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Fluxbox
Comment=Fluxbox Window Manager
Exec=remsu /usr/bin/sparky-desktop-del fluxbox
Icon=/usr/share/icons/sparky/desktops/fluxbox.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
