[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Enlightenment
Comment=Enlightenment Window Manager
Exec=remsu /usr/bin/sparky-desktop-del enlightenment
Icon=/usr/share/icons/sparky/desktops/enlightenment.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
