[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=i3
Comment=i3 Window Manager
Exec=remsu /usr/bin/sparky-desktop-del i3
Icon=/usr/share/icons/sparky/desktops/i3.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
