[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Budgie
Comment=Budgie Desktop
Exec=remsu /usr/bin/sparky-desktop budgie
Icon=/usr/share/icons/sparky/desktops/budgie.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
