[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Jade
Comment=Jade Desktop
Name[pl]=Pulpit Jade
Exec=remsu /usr/bin/sparky-desktop jade
Icon=/opt/jade/img/jade-logo.svg
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
