[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Deepin
Comment=Deepin Desktop Environment
Exec=remsu /usr/bin/sparky-desktop deepin
Icon=/usr/share/icons/sparky/desktops/deepin.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
