[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=bspwm
Comment=Bspwm Window Manager
Exec=remsu /usr/bin/sparky-desktop bspwm
Icon=/usr/share/icons/sparky/desktops/bspwm.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
