[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KDE
Comment=Plasma Desktop Environment 
Exec=remsu /usr/bin/sparky-desktop kde
Icon=/usr/share/icons/sparky/desktops/kde.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
