[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PekWM
Comment=PekWM Window Manager
Exec=remsu /usr/bin/sparky-desktop pekwm
Icon=/usr/share/icons/sparky/desktops/pekwm.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
