[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Manokwari
Comment=Manokwari Desktop
Exec=remsu /usr/bin/sparky-desktop manokwari
Icon=/usr/share/icons/sparky/desktops/manokwari.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
