[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Desktop Installer
Name[pl_PL]=Desktop Instalator
Comment=Install your favorite desktop
Comment[pl_PL]=Zainstaluj ulubiony pulpit
Exec=remsu /usr/lib/sparkydesktop/bin/sparky-desktop-add
Icon=preferences-desktop-display
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
