[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Desktop Remover
Name[pl_PL]=Usunięcie Desktopu
Comment=Remove a desktop
Comment[pl_PL]=Odinstaluj wybrany pulpit
Exec=remsu /usr/lib/sparkydesktop/bin/sparky-desktop-remove
Icon=preferences-desktop-display
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
